<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" crossorigin="anonymous">
        <!-- our css should be at the bottom -->
        <link rel="stylesheet" href="css/home.css"
    </head>

    <body>
        <div id="page-heading">
            <h1>
            <i class="fa-solid fa-headphones-simple"></i>
            My Music Playlist
        </h1>
        </div>
        <div id="music-list-container">
            <ul>
                <% for (let i of music_list) { %>
                    <li class = "songs">
                    <div class="details">
                    
                        <p><%= i.Title %></p>
                        <p><%= i.Album %></p>
                       
                   </div>
                        <div class="delete-button">
                            <a href="/delete-music/?Title=<%= i.Title %>">
                                <i class="fa-solid fa-folder-minus"></i>
                              </a>
                        </div>
                    </li> 
                <% } %>
            </ul>
        </div>

        <form id="new-music-form" action="/add-song" method="POST"> 
            <input type="text" name="Title" placeholder="Enter the title..." required>
            <input type="text" name="Album" placeholder="Enter the album">
            <button type="submit">Add The Song</button>
        </form>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>

</html>